<div class="container-fluid" ng-if="ctrl.showLoadingGeneral">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="GeneralWarning">
				<img class="loadingGifImg" src="./images/loadingGif.gif">
				<span>Estamos
					realizando lo que nos has pedido... por favor, espera...</span>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" ng-if="!ctrl.showLoadingGeneral">
	<div class="row widgetRow" id="widgets-line-1">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget" ng-click="showNewPrayerLayer()">
				<div class="widget-header">
					<img src="./images/createPrayer.jpg">
				</div>
				<div class="widget-content">
					<h4>Crear Orador</h4>
					<span>Crear un orador y un turno en un sólo paso</span>
				</div>
				<div class="widget-links">Acceder</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="widget-header">
					<img src="./images/actualizarCalendario.jpg">
				</div>
				<div class="widget-content">
					<h4>Ver Calendario</h4>
					<span>Ver el calendario de la cadena, con los turnos que
						están cubiertos, los vacíos, y los saturados</span>
				</div>
				<div class="widget-links">Ver</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget" ng-click="showPrayersTableLayer();ctrl.openMenu(2)">
				<div class="widget-header">
					<img src="./images/AdvancedSearch.jpg">
				</div>
				<div class="widget-content">
					<h4>Lista de Oradores</h4>
					<span>Lista ordenada y activa de oradores</span>
				</div>
				<div class="widget-links">Mostrar</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget" ng-click="ctrl.uploadCalendar()">
				<div class="widget-header">
					<img src="./images/SendCalendar.jpg">
				</div>
				<div class="widget-content">
					<h4>Enviar Calendario</h4>
					<span>Actualizar el calendario web con los últimos oradores
						y turnos</span>
				</div>
				<div class="widget-links">Enviar</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="WarningFlag" ng-if="ctrl.OrphanPrayers>0">
					<span>{{ctrl.OrphanPrayers}}</span>
				</div>
				<div class="widget-header">
					<img src="./images/huerfano.jpg">
				</div>
				<div class="widget-content">
					<h4>Oradores Parados</h4>
					<span>Lista de oradores que no tienen asignados turnos
						activos actuales</span>
				</div>
				<div class="widget-links">Mostrar</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="WarningFlag" ng-if="ctrl.EmptyTurns>0">
					<span>{{ctrl.EmptyTurns}}</span>
				</div>
				<div class="widget-header">
					<img src="./images/turnosvacios.jpg">
				</div>
				<div class="widget-content">
					<h4>Turnos vacíos</h4>
					<span>Un informe rápido sobre huecos vacíos en la cadena</span>
				</div>
				<div class="widget-links">Mostrar</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="widget-Chart">
					<img class="loadingGifImg" ng-show="ctrl.showLoadingStatistics"
						src="./images/loadingGif.gif">
					<canvas class="widget-chart" id="localForeignRatio" width="160"
						height="120"></canvas>
				</div>
				<div class="widget-links">Pais Local</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="widget-Chart">
					<img class="loadingGifImg" ng-show="ctrl.showLoadingStatistics"
						src="./images/loadingGif.gif">
					<canvas class="widget-chart" id="hiddenPublicRatio" width="160"
						height="120"></canvas>
				</div>
				<div class="widget-links">Anónimos</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="widget-Chart">
					<img class="loadingGifImg" ng-show="ctrl.showLoadingStatistics"
						src="./images/loadingGif.gif">
					<canvas class="widget-chart" width="160" height="120"
						id="chartCommitted"></canvas>
				</div>
				<div class="widget-links">Comprometidos</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="widget-Chart">
					<img class="loadingGifImg" ng-show="ctrl.showLoadingStatistics"
						src="./images/loadingGif.gif">
					<canvas class="widget-chart" id="availablePieChart" width="160"
						height="120"></canvas>
				</div>
				<div class="widget-links">Totales - Disponibles</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="widget-Chart">
					<img class="loadingGifImg" ng-show="ctrl.showLoadingStatistics"
						src="./images/loadingGif.gif">
					<canvas class="widget-chart" id="chartCoverage" width="160"
						height="120"></canvas>
				</div>
				<div class="widget-links">Vacíos - Cubiertos</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="widget-Chart">
					<img class="loadingGifImg" ng-show="ctrl.showLoadingStatistics"
						src="./images/loadingGif.gif">
					<canvas class="widget-chart" id="redundancePieChart" width="160"
						height="120"></canvas>
				</div>
				<div class="widget-links">Saturación</div>
			</div>
		</div>
	</div>
</div>