
<div class="container-fluid">
	<div id="warnings" class="row" ng-if="OrphanPrayers>0">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<span ng-if="OrphanPrayers>0">
				Atención: Hay {{OrphanPrayersText}} sin turnos asignados
			</span>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div id="header" class="row">
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 NofPrayersDiv">
			<img class="loadingGifImg" ng-show="showLoadingStatistics"
				src="./images/loadingGif.gif"> <span class="NofPrayers">{{TotalPrayers}}</span><br>
			<span class="labelNoPrayers">oradores</span>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3" ng-show="EmptyTurns>0">
			<div class="EmptyTurns">
				<img class="loadingGifImg" ng-show="showLoadingStatistics" src="./images/loadingGif.gif">
				<span class="EmptyTurnsNumber">{{EmptyTurns}}</span>
				<span class="EmptyTurnsLabel">turnos vacios</span>
			</div>
		</div>
		<div id="PrayerStatistics" class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
			<img class="loadingGifImg" ng-show="showLoadingStatistics" src="./images/loadingGif.gif">
			<span>Turnos disponibles: {{AvailableTurns}}</span><br>
			<span>Dias cubiertos: {{DaysCovered}}</span><br>
			<span>Oradores Comprometidos: {{CommittedPrayers}}</span><br>
			<span>No comprometidos: {{NonCommittedPrayers}}</span>
		</div>
		<div id="headerSearchPrayer" class="col-lg-5 col-md-4 col-sm-3 col-xs-3" ng-show="EmptyTurns>0">
			<input type="text" class="form-control" id="searchText" ng-model="vm.searchString"> 
			<img ng-click="vm.searchPrayer()" id="magnifierIcon" src="./images/magnifier.gif" height="32" width="32">
		</div>
		<div id="headerSearchPrayer" class="col-lg-7 col-md-6 col-sm-6 col-xs-6" ng-show="EmptyTurns==0">
			<input type="text" class="form-control" id="searchText" ng-model="vm.searchString"> 
			<img ng-click="vm.searchPrayer()" id="magnifierIcon" src="./images/magnifier.gif" height="32" width="32">
		</div>
	</div>
</div>
