@charset "UTF-8";

div#Search {
	margin-top: 15px;
	margin-left: 20px;
}
#Batidora {
	height: 100%;
	width: 100%;
	background-color: #B3CBEA;
	/*+placement: displace;*/
	position: absolute;
	margin-left: 0;
	margin-top: 0;
	z-index: 10;
	text-align: center;
	line-height: 33.5;
}
#sidebar-menu {
	background: #00B2D8;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#00B2D8, #006C84);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#00B2D8, #006C84);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#00B2D8, #006C84);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#00B2D8, #006C84);
	/* Standard syntax */
	height: 730px;
	width: 200px;
	padding-left: 24px;
}
.pagination {
	margin-top: 5px;
	margin-bottom: 4px;
	/*+placement: float-right;*/
	float: right;
	position: relative;
	left: 0;
	top: 0;
	margin-right: 5px;
	font-size: 12px;
}
.pagination li a {
	line-height: 0.6;
	padding-left: 5px;
	padding-right: 5px;
}
.fadeAnimate.ng-enter {
	transition: 1s linear all;
	opacity: 0;
}
/* The finishing CSS styles for the enter animation */
.fadeAnimate.ng-enter.ng-enter-active {
	opacity: 1;
}
#sidebar-menu .GroupOpener {
	margin-top: -5px;
	/*+placement: -3px 0px;*/
	position: relative;
	left: -3px;
	top: 0px;
	cursor: pointer;
}
.tablePrayers {
	border: 1px dashed #E3E7FF;
	margin-top: 10px;
	margin-left: -8px !important;
	height: ;
	width: 100% !important;
}
.tablePrayers tr:nth-child(even) {
	background-color: #E7EBFF;
}
.tablePrayers th {
	background-color: #00A6CA;
	color: white;
	border: 1px solid #FFFFFF;
	padding-left: 5px;
}
table.tablePrayers {
	height: ;
	width: 780px;
	margin-left: 5px;
}
.tablePrayers td {
	padding-left: 5px;
}
#PrayingGroup {
	font-size: x-small !important;
}
span.NofPrayers {
	font-size: 40px;
	color: #54F404;
}
span.EmptyTurnsLabel {
	font-size: 10px;
}
#EmptyTurns.col-xs-2 {
	line-height: 0.8;
	margin-top: 4px;
	text-align: center;
	padding-right: 30px;
}
span.EmptyTurnsNumber {
	font-size: 41px;
	line-height: 1.1;
	background-image: url("../images/EmptyTurnRedFlag.gif");
	background-size: 97px 44px;
	background-repeat: no-repeat;
	background-position: 2px 4px;
	padding-right: 17px;
	text-align: center;
	padding-left: 5px;
}
div.widget-header {
	color: white;
	height: 97px;
	width: 100%;
	/*+placement: anchor-top-left;*/
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	margin-left: 0px;
	margin-top: 0px;
}
.widget-header img {
	max-height: 97px;
	border-radius: 5px 5px 0px 0px;
	/*height: 100%;*/
	object-fit: cover !important;
	height: ;
	width: 100%;
}
.widget-content {
	margin-left: -13px;
	margin-top: 97px;
	max-height: 61px;
	margin-right: -13px;
	z-index: 2;
	line-height: 0.8;
	text-overflow: clip;
	overflow: hidden;
	padding-left: 5px;
	padding-top: 2px;
}
.widget-content span {
	font-size: 11px;
}
.widget-content h4 {
	margin-bottom: 5px;
	margin-top: 2px;
}
div.widget-links {
	/*+placement: anchor-bottom-left;*/
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 0px;
	max-height: 20px;
	height: ;
	width: 100%;
	margin-bottom: 0px;
	z-index: 3;
	color: #0900B5;
	border-radius: 0 0 5px 5px;
	font-size: 12px;
	background-color: rgba(235, 235, 235, 0.855);
	padding-left: 2px;
	padding-right: 2px;
}
.widget {
	height: 180px;
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 10px;
	border: 1px outset rgba(0, 0, 0, 0.034);
	border-radius: 5px;
	box-shadow: 3px 3px 2px -2px rgba(0, 0, 0, 0.333);
}
span.labelNoPrayers {
	font-size: 13px;
}
.NofPrayersDiv {
	line-height: 0.9;
	text-align: center;
	margin-top: 6px;
}
.widget-chart {
	margin-top: 10px;
}
#PrayerStatistics span {
	font-size: 10px;
}
#PrayerStatistics {
	line-height: 0.8;
	margin-top: 4px;
	margin-left: -25px;
}
.menu-item {
	color: white;
	line-height: 2.8;
	white-space: nowrap;
	padding-left: 10px;
}
#header.row {
	background-color: #094156;
	color: white;
	padding-bottom: 10px;
	padding-top: 5px;
}
div#header.row {
	margin-left: -30px;
}
.row.widgetRow {
	height: 190px;
	margin-bottom: 0px;
	margin-left: -30px;
	margin-top: 0px;
	width: ;
}
div#last-prayers {
	margin-right: -30px;
}
#Search.col-xs-4 {
	/*+placement: float-right;*/
	float: right;
	position: relative;
	left: 0;
	top: 0;
	margin-top: 13px;
}
input#searchText {
	color: #CBCBCB;
	font-size: 28px;
	height: ;
	width: 95%;
	margin-left: -21px;
	line-height: 0;
	margin-top: 3px;
}
span {
	font-family: verdana;
	font-size: 15px;
}
span.menu-group {
	color: white;
	cursor: pointer;
}
img#magnifierIcon {
	/*+placement: anchor-bottom-right;*/
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 10px;
}
img#magnifierIcon {
	height: ;
	width: ;
}
img#EmptyTurnsFlag {
	height: 41px;
	width: 96px;
	margin-left: 10px;
	margin-top: -50px;
	/*+placement: ;*/
	position: relative;
	left: 0;
	top: 0;
	z-index: 1;
}
div.row.activeMenuItem {
	background-color: #094156;
}
#warnings {
	background-color: #006E9A;
	color: white;
	font-size: larger;
	height: 38px;
	line-height: 2.2;
	text-align: left;
	margin-left: -30px;
}
div.menu-item.col-xs-12 {
	margin: 5px 0px 33px 10px;
}
#UserGroup {
	font-size: 9px;
}
#UserName {
	font-size: 20px;
}
#UserInformation {
	line-height: 0.9;
	margin-bottom: 38px;
	margin-top: 34px;
}
