<div id="configuration" class="container-fluid">
	<div class="row tableRow">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form ng-submit="vm.updateConfiguration(configurationForm.$valid)" name="configurationForm" novalidate>
				
				<div class="container-fluid">
				
					<div class="row">
						<h1>{{labels.configurationTitle}}</h1>
					</div>

					<div class="row">
						<h3>{{labels.chainSection}}</h3>
					</div>

					<div class="row">
						<label>{{labels.chainName}}</label>
						<input type="text" name="chain" ng-model="vm.chain" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.chain.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>
			
					<div class="row">
						<label>{{labels.prayersPerTurn}}</label>
						<input type="text" name="prayersPerTurn" ng-model="vm.prayersPerTurn" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.prayersPerTurn.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>

					<div class="row">
						<h3>{{labels.ftpServer}}</h3>
					</div>

					<div class="row">
						<label>{{labels.ftpServerName}}</label>
						<input type="text" name="ftpServerName" ng-model="vm.ftpServerName" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.ftpServerName.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>

					<div class="row">
						<label>{{labels.ftpPort}}</label>
						<input type="text" name="ftpPort" ng-model="vm.ftpPort" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.ftpPort.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>

					<div class="row">
						<label>{{labels.ftpUser}}</label>
						<input type="text" name="ftpUser" ng-model="vm.ftpUser" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.ftpUser.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>

					<div class="row">
						<label>{{labels.ftpPwd}}</label>
						<input type="text" name="ftpPwd" ng-model="vm.ftpPwd" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.ftpPwd.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>

					<div class="row">
						<label>{{labels.remoteFilePath}}</label>
						<input type="text" name="remoteFilePath" ng-model="vm.remoteFilePath" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.remoteFilePath.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>

					<div class="row">
						<label>{{labels.localFilePath}}</label>
						<input type="text" name="localFilePath" ng-model="vm.localFilePath" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.localFilePath.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>

					<div class="row">
						<label>{{labels.calendarFileName}}</label>
						<input type="text" name="calendarFileName" ng-model="vm.calendarFileName" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.calendarFileName.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>

					<div class="row">
						<label>{{labels.statisticsFileName}}</label>
						<input type="text" name="statisticsFileName" ng-model="vm.statisticsFileName" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.statisticsFileName.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>

					<div class="row">
						<h3>{{labels.emailStuff}}</h3>
					</div>

					<div class="row">
						<label>{{labels.emailServiceUserName}}</label>
						<input type="text" name="emailServiceUserName" ng-model="vm.emailServiceUserName" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.emailServiceUserName.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>

					<div class="row">
						<label>{{labels.emailServiceUserPassword}}</label>
						<input type="text" name="emailServiceUserPassword" ng-model="vm.emailServiceUserPassword" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.emailServiceUserPassword.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>

					<div class="row">
						<label>{{labels.emailServiceHostName}}</label>
						<input type="text" name="emailServiceHostName" ng-model="vm.emailServiceHostName" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.emailServiceHostName.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>

					<div class="row">
						<label>{{labels.isEmailServiceSSL}}</label>
						<input type="text" name="isEmailServiceSSL" ng-model="vm.isEmailServiceSSL" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.isEmailServiceSSL.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>

					<div class="row">
						<label>{{labels.emailServiceSmtpPort}}</label>
						<input type="text" name="emailServiceSmtpPort" ng-model="vm.emailServiceSmtpPort" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.emailServiceSmtpPort.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>

					<div class="row">
						<h3>{{labels.otherConfiguration}}</h3>
					</div>

					<div class="row">
						<label>{{labels.mailchimpUrlPwd}}</label>
						<input type="text" name="MailchimpUrlPwd" ng-model="vm.MailchimpUrlPwd" required><br>
						<span class="error-messages" ng-show="configurationForm.$submitted">
							<span ng-show="configurationForm.MailchimpUrlPwd.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>

				</div>
			</form>
		</div>
	</div>
</div>