<div class="container-fluid">
	<div class="row widgetRow" id="widgets-line-1">
		<div ng-if="maxUserRole>0" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget" ng-click="navigateTo('/crearOrador');openMenu(3)">
				<div class="widget-header">
					<img src="./images/createPrayer.jpg">
				</div>
				<div class="widget-content">
					<h4>{{labels.createPrayer}}</h4>
					<span>{{labels.createPrayerOneStep}}</span>
				</div>
				<div class="widget-links">{{labels.goTo}}</div>
			</div>
		</div>
		<div ng-if="maxUserRole>=0" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget" ng-click="navigateTo('/calendar');openMenu(2)">
				<!-- <div class="WidgetDeshabilitado"></div> -->
				<div class="widget-header">
					<img src="./images/actualizarCalendario.jpg">
				</div>
				<div class="widget-content">
					<h4>{{labels.showCalendar}}</h4>
					<span>{{labels.showCalendarDescription}}</span>
				</div>
				<div class="widget-links">Ver</div>
			</div>
		</div>
		<div ng-if="maxUserRole>0" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget" ng-click="navigateTo('/oradores');openMenu(2)">
				<div class="widget-header">
					<img src="./images/AdvancedSearch.jpg">
				</div>
				<div class="widget-content">
					<h4>{{labels.prayerList}}</h4>
					<span>{{labels.prayerListDescription}}</span>
				</div>
				<div class="widget-links">{{labels.show}}</div>
			</div>
		</div>
		<div ng-if="maxUserRole>0" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget" ng-click="navigateTo('/turnos');openMenu(2)">
				<div class="widget-header">
					<img src="./images/TurnList.jpg">
				</div>
				<div class="widget-content">
					<h4>{{labels.turnList}}</h4>
					<span>{{labels.turnListDescription}}</span>
				</div>
				<div class="widget-links">{{labels.show}}</div>
			</div>
		</div>
		<div ng-if="maxUserRole>=1" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget" ng-click="uploadCalendar()">
				<div class="widget-header">
					<img src="./images/SendCalendar.jpg">
				</div>
				<div class="widget-content">
					<h4>{{labels.sendCalendar}}</h4>
					<span>{{labels.sendCalendarDescription}}</span>
				</div>
				<div class="widget-links">{{labels.send}}</div>
			</div>
		</div>
		<div ng-if="maxUserRole>=1" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget" ng-click="navigateTo('/configuracion');openMenu(3)">
				<div class="widget-header">
					<img src="./images/Configuracion.jpg">
				</div>
				<div class="widget-content">
					<h4>{{labels.configuration}}</h4>
					<span>{{labels.configurationDescription}}</span>
				</div>
				<div class="widget-links">{{labels.show}}</div>
			</div>
		</div>
		<div ng-if="maxUserRole>=1" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="WidgetDeshabilitado"></div>
				<div class="WarningFlag" ng-if="OrphanPrayers>0">
					<span>{{OrphanPrayers}}</span>
				</div>
				<div class="widget-header">
					<img src="./images/huerfano.jpg">
				</div>
				<div class="widget-content">
					<h4>{{labels.stopedPrayers}}</h4>
					<span>{{labels.stopedPrayersDescription}}</span>
				</div>
				<div class="widget-links">{{labels.show}}</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="WidgetDeshabilitado"></div>
				<div class="WarningFlag" ng-if="EmptyTurns>0">
					<span>{{EmptyTurns}}</span>
				</div>
				<div class="widget-header">
					<img src="./images/turnosvacios.jpg">
				</div>
				<div class="widget-content">
					<h4>{{labels.emptyTurns}}</h4>
					<span>{{labels.emptyTurnsDescription}}</span>
				</div>
				<div class="widget-links">{{labels.show}}</div>
			</div>
		</div>
		<div ng-if="maxUserRole>=0" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="widget-Chart">
					<canvas class="widget-chart" id="localForeignRatio" width="160"
						height="120"></canvas>
				</div>
				<div class="widget-links">{{labels.prayersInCountry}} {{labels.ownCountry}}</div>
			</div>
		</div>
		<div ng-if="maxUserRole>=0" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="widget-Chart">
					<canvas class="widget-chart" id="hiddenPublicRatio" width="160"
						height="120"></canvas>
				</div>
				<div class="widget-links">{{labels.anonymousPrayers}}</div>
			</div>
		</div>
		<div ng-if="maxUserRole>=0" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="widget-Chart">
					<canvas class="widget-chart" width="160" height="120"
						id="chartCommitted"></canvas>
				</div>
				<div class="widget-links">{{labels.committedPrayers}}</div>
			</div>
		</div>
		<div ng-if="maxUserRole>=0" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="widget-Chart">
					<canvas class="widget-chart" id="availablePieChart" width="160"
						height="120"></canvas>
				</div>
				<div class="widget-links">{{labels.coveredTurns}}</div>
			</div>
		</div>
		<div ng-if="maxUserRole>=0" class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
			<div class="widget">
				<div class="widget-Chart">
					<canvas class="widget-chart" id="chartCoverage" width="160"
						height="120"></canvas>
				</div>
				<div class="widget-links">{{labels.emptyTurns}}</div>
			</div>
		</div>
	</div>
</div>