<div class="loginForm">
    <div class="loginContent">
        <img id="logo" src="./images/logo.gif" heigth="96" width="96">
        <form role="form" ng-submit="vm.login()">
            <input type="text" value="usuario" name="edmUser" ng-model="vm.credentials.userName"><br>
            <input type="password" value="contraseña" name="edmPwd" ng-model="vm.credentials.userPwd"><br>
            <input class="loginSubmit" type="submit" name="submit" value="Acceder">
        </form>
    </div>
</div>