<div class="dataForm" id="newPrayer" class="container-fluid">
	<div class="row tableRow">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form ng-submit="vm.createNewPrayer(newPrayerForm.$valid)" name="newPrayerForm" novalidate>
				
				<div class="container-fluid">
				
					<div class="row">
						<h1>{{labels.createPrayer}}</h1>
					</div>

					<div class="row">
						<label>{{labels.name}}</label>
						<input type="text" name="nombre" ng-model="vm.nombre" required><br>
						<span class="error-messages" ng-show="newPrayerForm.$submitted">
							<span ng-show="newPrayerForm.nombre.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>
					
					<div class="row">
						<label>Día</label>
						<select ng-model="vm.dia" name="dia" required>
							<option ng-repeat="day in vm.daysOfWeek" value="{{day}}">{{day}}</option>
						</select><br> 
						<span class="error-messages" ng-show="newPrayerForm.$submitted">
							<span ng-show="newPrayerForm.dia.$error.required">{{labels.fileRequired}}</span>
						</span>
      					</div>
					
					<div class="row">
						<label>Turno</label>
						<select ng-model="vm.turno" name="turno" required>
							<option ng-repeat="turno in vm.turnos" value="{{turno}}">{{turno}}</option>
						</select><br>
						<span class="error-messages" ng-show="newPrayerForm.$submitted">
							<span ng-show="newPrayerForm.turno.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>
					
					<div class="row">
						<label>Email</label>
						<input type="email" name="email" ng-model="vm.email"><br>
						<span class="error-messages" ng-show="newPrayerForm.$submitted && newPrayerForm.email.$touched">
							<span ng-show="newPrayerForm.email.$error.email">{{labels.emailError}}<br></span>
						</span>
						<span class="error-messages" ng-show="newPrayerForm.$submitted">
							<span ng-show="vm.phoneOrEmailError">{{labels.fileRequired}}</span>
						</span>
					</div>
					
					<div class="row">
						<label>{{labels.phone}}</label>
						<input type="text" name="telefono" ng-model="vm.telefono"><br>
						<span class="error-messages" ng-show="newPrayerForm.$submitted">
							<span ng-show="vm.phoneOrEmailError">{{labels.fileRequired}}</span>
						</span>
					</div>
					
					<div class="row">
						<label>{{labels.country}}</label>
						<select ng-model="vm.pais" name="pais" required>
							<option ng-repeat="pais in vm.paises" value="{{pais}}">{{pais}}</option>
						</select><br>
						<span class="error-messages" ng-show="newPrayerForm.$submitted">
							<span ng-show="newPrayerForm.pais.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>
					
					<div class="row">
						<label>{{labels.notes}}</label>
						<input type="text" name="notes" ng-model="vm.notas" />
					</div>
					
					<div class="row">
						<label>{{labels.visibility}}</label>
						<select ng-model="vm.visibilidad" name="visibilidad" required>
							<option ng-repeat="visibilidad in vm.visibilidades"
								value="{{visibilidad}}">{{visibilidad}}</option>
						</select><br>
						<span class="error-messages" ng-show="newPrayerForm.$submitted">
							<span ng-show="newPrayerForm.visibilidad.$error.required">{{labels.fileRequired}}</span>
						</span>
					</div>
					
					<div class="row">
						<label>{{labels.pseudonym}}</label>
						<input type="text" name="seudonimo" ng-model="vm.seudonimo" /><br>
						<span class="error-messages" ng-show="newPrayerForm.$submitted">
							<span ng-show="newPrayerForm.visibilidad.$touched && vm.visibilidad=='Público'">{{labels.fileRequired}}</span>
						</span>
					</div>

					<div class="row">
						<input type="submit" />
					</div>
			
				</div>
			</form>
		</div>
	</div>
</div>